<div class="navbar bg-base-100 shadow-sm h-16">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow flex flex-col space-y-3">
        <li>
          <a routerLink="/products" class="btn btn-ghost" routerLinkActive="text-secundary">
            Productos
          </a>
        </li>

        <li>
          <a routerLink="/about-us" class="btn btn-ghost" routerLinkActive="text-secundary">
            Sobre nosotros
          </a>
        </li>

        <li>
          <a routerLink="/contact" class="btn btn-ghost" routerLinkActive="text-secundary">
            Contacto
          </a>
        </li>

        <!-- Botón condicional para móviles -->
        <li *ngIf="isLoggedIn">
          <a routerLink="/order-detail" class="btn btn-ghost" routerLinkActive="text-secundary">
            Mis pedidos
          </a>
        </li>
      </ul>
    </div>
    <a routerLink="/" class="btn btn-ghost text-xl">
      Pizza <span class="text-secondary">| Proyect</span>
    </a>
  </div>

  <!-- Parte central con diseño horizontal -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal bg-base-100 flex space-x-6 p-2">
      <li>
        <a routerLink="/products" class="btn btn-ghost" routerLinkActive="text-secundary">
          Productos
        </a>
      </li>

      <li>
        <a routerLink="/about-us" class="btn btn-ghost" routerLinkActive="text-secundary">
          Sobre nosotros
        </a>
      </li>

      <li>
        <a routerLink="/contact" class="btn btn-ghost" routerLinkActive="text-secundary">
          Contacto
        </a>
      </li>

      <!-- Botón condicional para escritorio -->
      <li *ngIf="isLoggedIn">
        <a routerLink="/order-detail" class="btn btn-ghost" routerLinkActive="text-secundary">
          Mis pedidos
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <!-- El nuevo botón de "Ver perfil" o "Registrarse" -->
    <a routerLink="{{ isLoggedIn ? '/profile' : '/register' }}" class="btn btn-ghost">
      {{ isLoggedIn ? 'Ver perfil' : 'Registrarse' }}
    </a>

    <!-- El botón de login/logout -->
    <li style="list-style-type: none;">
      <a routerLink="{{ isLoggedIn ? '/' : '/login' }}" (click)="onLogout()" class="btn btn-ghost">
        {{ isLoggedIn ? 'Cerrar sesión' : 'Iniciar sesión' }}
      </a>
    </li>
  </div>
</div>
